* {
  box-sizing: border-box;
}
:root {
  /* CSS HEX */
  --tea-green: #deefb7ff;
  --celadon: #1f6542;
  --caribbean-current: #00635dff;
  --space-cadet: #251f47ff;
  --dark-purple: #260f26ff;
}

* {
  color: var(--tea-green);
}

::-webkit-scrollbar {
  display: none;
}
/* 
@font-face {
  font-family: DejaVuSansMono;
  src: url("./fonts/DejaVuSansMono.ttf");
}
* {
  font-family: DejaVuSansMono;
} */

/*  */
body,
html {
  background-color: var(--space-cadet);
}
button,
input:not(.taskname),
textarea,
select {
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--celadon) 40%, #0000);
  border-color: var(--tea-green);
}
option {
  background-color: var(--caribbean-current);
  color: white;
}
* {
  border-color: var(--caribbean-current) !important;
}
tr,
tr > * {
  border: 2px solid gray;
  padding: 5px;
}
table {
  border-collapse: collapse;
}
.liked,
.valid {
  border: 1px solid gray;
  background-color: #0a0;
}
.disliked,
.invalid {
  background-color: #a00;
  border: 1px solid gray;
}
.likable {
  border: 1px solid gray;
  background-color: #00a;
}
.hide {
  display: none;
}
.playerCount,
.doneCount {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}
tr > td:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
}

td:last-child:has(#comments) {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}

#comments {
  flex-grow: 1;
}
.comment {
  padding: 0;
  margin: 0;
}
.titlePadder {
  flex-grow: 1;
}
thead {
  border-collapse: collapse;
  top: -1px;
  background-color: var(--dark-purple);
  position: sticky;
}
#noedit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0002;
}
* > textarea.desc,
textarea.desc {
  overflow: scroll;
  height: fit-content;
  min-width: 100px;
  min-height: 100px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid gray;
  field-sizing: content;
  max-height: 150px;
  max-width: 400px;
}
#sticky {
  position: sticky;
  top: 29px;
  z-index: 11;
  box-sizing: border-box;
  width: fit-content;
}
@media screen and (max-width: 840px) {
  #sticky.scrolled {
    top: 46px;
    background-color: var(--dark-purple);
  }
}
input.taskname {
  background-color: #0000;
  border: none;
}
.atself,
.atother {
  color: pink;
}
#filterbg {
  z-index: 30;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 0.7rem;
}

dialog#filters {
  z-index: 30;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.7rem;
  font-size: 1.3rem;
  background-color: var(--space-cadet);
}

#filterbg > .row {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

dialog#filters::backdrop {
  background: radial-gradient(
    circle at center,
    #0003 10%,
    #000
  );
  opacity: 0.9;
}
